@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{margin:0;padding:0}
ul,ol,li{
    list-style:none;
    font-family: 'Nanum Gothic', sans-serif;
}
fieldset{border:none}

img{border:none}

legend,cation{display:none}

a{text-decoration:none;color:#000}
table{border-collapse:collapse}
.fl{float:left}
.fr{float:right}
.clearfix:after{content:"";display:block;clear:both }
address{font-style:normal;}