@charset "utf-8";
@media all and (min-width: 901px) and (max-width: 1430px){
    #main-wrap article,#footer-wrap article{
        width:90%;
        margin:auto;
    }
    h2{
        width:50%;
        margin:auto;
        position:static;
        writing-mode:horizontal-tb;
        transform: translateY(0%); 
    }
    .main-menu a{
        letter-spacing: 1px;
    }    
    section{
        width:100%;
    }
    .profile-img{
        width:150px;
        height:150px;
    }
    .icon-list, .web-list{
        width:100%;
        padding-top:0;
    }
    .icon-list li{
        width:20%;
        margin-right:0;
    }
    .icon-list .icon-bg{
        width:150px;
        height:150px;
    }
    #web-wrap .web-list li{
        width:45%;
        margin-right:8%;
       
    }
    #web-wrap .web-list li:nth-child(2n){
        margin-right:0;
    }
    .web-info .monitor-bg{
        width:500px;
        height:400px;
    }
    .web-info-img{
        width:464px;
        height:260px;
        top:19px;
        left:18px;
    }
    .web-info .info-con{
        width:100%;
    }
     .contact-list{
        width:60%;
    }
}
/*mobile start*/
@media all and (min-width: 0px) and (max-width: 900px){
   h1{
       width:50%;
   }
    #main-wrap .realm, #footer-wrap{
        height:auto;
    }
    #main-wrap #visual-wrap{
        height:80vh;
        background-repeat:no-repeat;
        background-size:cover;
    }
   
    #main-wrap article,#footer-wrap article{
        width:90%;
        height:auto;
        margin:auto;
    }
    .profile-info li, .icon-list li{
        display:inline-block;
    }
    h2{
        width:100%;
        font-size:60px;
        position:static;
        writing-mode:horizontal-tb;
        transform: translateY(0%); 
    }
    .wheel-box{
        bottom:5%;
    }
    @keyframes mouseani{
        0%{bottom:5%}
        50%{bottom:7%}
        100%{bottom:5%}
    }  
    .greeting-list{
       padding-top:260px;
    }
    .greeting-list>p{
        width:90%;
        font-size:50px;
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
    }
    nav{
        width:100%;
    }
    .main-menu a{
        letter-spacing: 1px;
        font-size: 12px;
    }    
    .profile-img{
        width:150px;
        height:150px;
    }
    .profile-title{
        margin:0;
    }
    .profile-info{
        width:100%;
    }
    #profile-wrap .profile-info li{
        width:100%;
        float:none;
        height:auto;
        margin:10px auto;
        padding:3%;
    }
    .icon-list{
        display:block;
        padding:0;
    }
    #icon-wrap .icon-list li{
        width:100%;
        height:auto;
        padding:0;
        clear:both;
        margin-right:0;
        margin-bottom:5%;
        padding-top:5%;
    }
    #icon-wrap .icon-list li::after{
        display:block;
        content:"";
        clear:both;
    }
    .icon-info{
        display:flex;
        align-items: center;
    }
    .icon-list li:nth-child(even) .icon-info{
        flex-direction: row-reverse;
    }
    .icon-list .icon-bg{
        width:150px;
        height:150px;
    }
    .icon-list .icon-con{
        width:calc(100% - 160px);
        height:auto;;
        padding:5px;
        margin:0 0 0 10px;
        border-radius:10px;
        vertical-align:middle;
    }
    #icon-wrap .icon-list li:nth-child(even) .icon-bg{
      
    }
    #icon-wrap .icon-list li:nth-child(even) .icon-con{
        height:auto;
        margin:0 10px 0 0;
    }
    .icon-list li img{
        width:30%;
    }
    .icon-list .icon-title {
        width: 150px;
        font-size:15px;
        padding:10px 0;
    }
    #icon-wrap .icon-list li:nth-child(even) .icon-title {
        margin-left:calc(100% - 150px);
    }
    .icon-list li:last-child{
        margin-right:0;
    }
    .icon-space span{
        line-height:15px;
        font-size:12px;
    }
    .donut-control{
        top:180px;
    }
    #web-wrap{
         position:relative;
    }
    #web-wrap .web-list{
        width:100%;
    }
    #web-wrap .web-list li{
        width:95%;
        margin:auto;
        height:100%;
        display:none;
        float:none;
    }
     .web-list li, .web-img {
        height:250px;
    }
    .web-list .web-info table{
        width:100%;
        border-collapse: separate;
    }
    .web-list .web-info td{
        width:22%;
        margin-right:4%;
    }
    .info-con a.main-btn{
        width:100%;
    }
    .web-list .web-info td a{
        width:100%;
    }
    #web-wrap .web-list li.web-on{
        display:block;  
        box-shadow: 3px 3px 3px 3px grey;
        
    }
    .web-list-button{
        display:block;
        width:100%;
        overflow:hidden;
        position:absolute;
        top:27%;
        left:0;
    }
    .web-list-button li{
        width:30px;
        height:30px;
        cursor:pointer;
        float:left;
    }
    .web-list-button li:last-child{
        float:right;
    }
    .web-list-button li img{
        width:100%;        
    }
    .web-info .monitor-bg{
        width:360px;
        height:320px;
        border-radius:20px;
        box-sizing:border-box;
        background:url(../img/monitor.png) no-repeat;
        background-size:contain;
        margin:auto;
    }
    .web-info-img{
        width:334px;
        height:188px;
        position:relative;
        top:13px;
        left:13px;
        overflow:hidden;
    }
    .web-info .info-con{
        width:100%;
        font-size:13px;
        text-align:justify;
    }
    .web-info .info-title{
        text-align:center;
        font-size:20px;
    }
    #contact-wrap{
        width:100%;
    }
    #footer-wrap>article>p{
        font-size:20px;
    }
    .contact-phone{
        font-size:25px;
    }
    #contact-form input[type="submit"], #contact-form input[type="reset"]{
        font-size:15px;
    }
    .foot-logo-list{
        width:80%;
    }
}