@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

a{
    text-decoration:none; 
    color:#333;
}
.modal{
    background:rgba(0,0,0,0.5);
    width:100%;
    height:100%;
    position:fixed;
    left:0;
    top:0;
    display:none;
    z-index:9;
     cursor:pointer;
}
.modal_btn{
    width:100px;
    height:100px;
    float:right;
    background-color:#333;
    color:#fff;
    text-align:center;
    font-size:80px;
    cursor:pointer;
}
.header-wrap{
    width:100%;
    position:fixed;
    z-index:8;
    background:rgba(0,0,0,0.3);
    transition: all 1s;
}
h1{
    width:100px;
    padding-top:20px;
    margin:auto;
}
h1 img{
    width:100%;
}
nav{
    width:60%;
    height:19px;
    margin:auto;
}
.main-menu:after{
    content:"";
    display:block;
    clear:both;
}
.wheel-box{
    width:50px;
    height:50px;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:150px;
    animation:mouseani 3s infinite;
}
@keyframes mouseani{
    0%{bottom:150px}
    50%{bottom:170px}
    100%{bottom:150px}
}  
.wheel-box img{
    width:100%;
}
.main-menu li{
    float:left;
    width:16%;
    margin-right:5%;
}
.main-menu li>last-child{
    margin:0;
}
.main-menu a{
    width:100%;
    height:100%;
    transition:all 0.5s;
    color:#fff;
    font-size:18px;
    display:inline-block;
    text-align:center;
    padding:10px 0;
    letter-spacing: 5px;
}
.main-menu li>a.highlight{
    background-color:#ffff;
    color:#000;
    text-align:center;
}
.main-menu li>a.highlight:hover{
    background-color:#555;
}
.main-menu a:hover{
    color:skyblue;

}
.main-menu li:last-child{
    margin-right:0;
}
#main-wrap{
    width:100%;
}
section{
    width:100%;
}
#visual-wrap{
    width:100%;
    height:1080px;
    background:url('../img/para.jpg');
    background-size:cover;
    background-attachment: fixed;
    position:relative;
}
#icon-wrap,#profile-wrap{
    width:100%;
    position:relative;
}
#icon-wrap{
      background:url('../img/galaxy2.jpg');
     background-attachment: fixed;
}
#profile-wrap>article{
    width:1400px;
    margin:auto;
    padding:100px 0;
    
}
#profile-wrap>article:after{
    display:block;
    content:"";
    clear:both;
    float:left;
}
.profile-info p{
    line-height:2;
}
.name{
    font-size:30px;
}
.pagehide{
    opacity:0;
    transition:all 2s;
}    
.pageshow{
    opacity:1;
    transition:all 2s;
}
.greeting-list{
    width:100%;
    height:100px;
    padding-top:400px;   
}
.greeting-list>p, #visual-wrap{
    transition:all 1s;
}
.greeting-list>p{
    width:100%;
    color:#fff;
    font-family: 'Righteous', cursive;
    font-size:100px;
    display:none;
    text-align:center;
    

}
.greeting-list>p:first-child{
    display:block;
}
.profile-img{
    width:200px;
    height:200px;
    border-radius:100%;
    background-color:#fff;
    overflow:hidden;
     margin-right:70px;
     border:3px solid navy
}
.profile-img img{
    width:100%;
}
.profile-info{
    width:600px;
}
.profile-title{
    font-size:25px;
    font-weight:bold;
    margin:20px 0;
}
.content-title{
    font-weight:bold;
    font-size:20px;
}
#visual-wrap .profile-info{
    margin-left:50px;
}
.icon-list, .web-list{
    width: 1400px;
    margin:auto;
    padding:100px 0;
}
.icon-list:after{
    clear:both;
    display:block;
    content:"";
}
.icon-list{
    display:flex;
    justify-content: center;
}
.icon-list li{
    width:16%;
    height:410px;
    padding:200px 0 0 0;
    margin-right:5%;
}
  
.icon-list li:last-child{
    margin-right:0;
}

.icon-bg{
    width:204px;
    height:204px;
    border-radius: 50%;
    animation:iconani 3s infinite;
}
@keyframes iconani{
    0% {transform:scale(100%, 100%)}
    50%{transform:scale(110%, 110%)}
    100%{transform:scale(100%, 100%)}
}  
.icon-space{
    width:80%;
    height:80%;
    background-color:#fff;
    border-radius:50%;
    overflow:hidden;
    position:relative;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%)
}
.donut-control-list>li{
    width:40px;
    height:40px;
    cursor: pointer;
    border:1px solid #fff;
    position:absolute;
    left:50%;
    top:90%;
    transform:translateX(-50%);
}    
.icon-list img{
    position:absolute;
    left:50%;
    top:50%;
    width:70%;
    transform:translate(-50%, -50%);
}
.icon-list p{
    font-size:14px;
    line-height:1.5;
    background-color:transparent;
    border:1px solid #fff;
    box-sizing:border-box;
    color:#fff;
}
.icon-list .icon-title{
    text-align:center;
    font-size:18px;
    font-weight:bold;
    padding:10px 0;
}
#web-wrap{
    background-color:#eee;
}
.web-list:after{
    clear:both;
    display:block;
    content:"";
}
.web-list li{
    width:400px;
    float:left;
    margin-bottom:100px;
    margin-right:100px;
    box-shadow:10px 10px 10px 10px grey;
    cursor:pointer;
}
.web-list li:nth-child(3),.web-list li:nth-child(6),.web-list li:nth-child(9){
    margin-right:0;
}
.web-img{
    width:100%;
    height:200px;
    overflow:hidden;
    position:relative;
}
.web-list>li>p{
    background:#fff;
    text-align:center;
    line-height:2;
}
.web-list>li>p>a{
    display:inline-block;
    color:blue;
    padding:0 10px;
    height:100%;
}
.web-list>li>p>a:hover{
    background-color:skyblue;
    color:#fff
}
.web-list span{
    display:inline-block;
    width:100%;
    height:70px;
    text-align:center;
    color:#333;
    background-color:#fff;
    box-sizing:border-box;
    font-weight:bold;
    font-size:20px;
    line-height:70px;
}
.web-list li:hover .web-img>img{
     transition:all 2s;
    top:-300px;
}
.web-list li:first-child:hover .web-img>img{
    top:-670px;
   
}
.web-list li:hover span{
    background-color:skyblue;
    color:#fff;
}
.web-list li:nth-child(2):hover .web-img>img{
    top:-850px;
}
.web-list li:nth-child(5):hover .web-img> img{
    top:-70px;
}

.web-list li:nth-child(6):hover .web-img> img{
    top:-10px;
}
.web-list li:nth-child(7):hover .web-img> img{
    top:-100px;
}

.web-list img{
    width:100%;
    position:absolute;
    top:0;
}
.web-info{
    overflow-Y:scroll;
    width:70%;
    height:70%;
    border:5px solid #000;
    position:fixed;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    background: #fff;
    z-index:10;
    display:none;
    padding:50px;
    
}
.web-info::-webkit-scrollbar {
    width: 20px;
}
.web-info::-webkit-scrollbar-thumb {
    background-color: #fff;
    border:1px solid #555;
    box-sizing:border-box;
    border-radius:10px;
}
.web-info::-webkit-scrollbar-track {
    background-color: #fff;
}
.web-info .info-title{
    font-size:30px;
    text-align:center;
    font-weight:bold;
}
.info-con{
    width:50%;
    margin:auto;
    margin-bottom:100px;
}
.web-info p.info-margin{
    margin-bottom:110px;
}
.info-con p{
    margin: 30px auto;
    font-size:20px;
    line-height:150%;
    font-weight:bold;
    text-align: center;
}
.info-con img{
    width:100%;
    position:static;
}
.web-list>li:nth-child(2) .web-info{
    display:none;
}
.web-info a{
    display:block;
    width:100px;
    height:50px;
    line-height:50px;
    margin:0 10px 10px 0;
    box-sizing:border-box;
    background-color:skyblue;
    color:#fff; 
    text-align:center;
}
.web-list-button{
    display:none;
}
.info-con a.main-btn{
    width:430px;
    margin-right:0;
}
.web-info .green-table a{
    background-color:#419400;
}
.web-info .green-table a:hover{
    background-color:#01682f;
}
.web-info .black-table a{
    background-color:#555;
}
.web-info .black-table a:hover{
    background-color:#000;
}
.web-info .sky-table a{
    background-color:#14b8db;
}
.web-info .sky-table a:hover{
    background-color:#1facc0;;
}
.web-info .purple-table a{
    background-color:#7808b9;
}
.web-info .purple-table a:hover{
    background-color:#4f047a;;
}
.web-info .white-table a{
    background-color:#fff;
    border:1px solid #000;
    box-sizing:border-box;
    color:#333;
    transition:all 0.5s;
}
.web-info .white-table a:hover{
    background-color:#000;
    color:#fff
}
table{
    margin:auto;
}
.mobile-box{
    width:300px;
}
#footer-wrap{
    height:1000px;
    padding:50px 0;
}
.contact-list{
    width:50%;
    margin:auto;
}
.contact-list li{
    width:40%;
    font-size:14px;
    float:left;
}
.contact-list li:first-child{
    margin-right:20%;
}
.contact-list li p{
    width:100px;
    text-align:center;
    margin:auto;
}
.contact-list li p:last-child{
    width:200px;
    line-height:50px;
    font-size:25px;
}
.contact-list:after{
    content:"";
    clear:both;
    display:block;
}
.contact-list li img{
    width:100%;
    text-align:center;
}