@charset "utf-8";
.big-text{
    font-size:22px;
    font-weight:bold;
    color:#008000
}
.about-series{
    color:#fff;
}
.about-series>img{
    width:600px;
    margin:0 20px 20px 0;
    float:left;
}

.sub-wrap .about-series h4{
    
    font-size:40px;
    text-align:center;
    margin-bottom:20px;
    font-weight:bold;
}
.sub-wrap .about-intro h4{
    font-family: 'SuperMario256';
}
.about-series-text{
    width:970px;
    line-height:25px;
    padding-bottom:20px
}
.dino-introduce{
    width:900px;
    margin:auto;
    position:relative;
    padding-top:600px;
}
.dino-introduce::after{
    display:block;
    content:"";
    clear:both;
}
.dino-introduce li{
    float:left;
    width:150px;
}

.dino-introduce a{
    display:inline-block;
    width:100%;
    overflow:hidden; 
    box-sizing:border-box;
}
.dino-introduce a> img{
    width:150px;
}
.dino-introduce a:hover{
    border:1px solid #fff;
    box-sizing:border-box;
}
.dino-introduce a>span{
    display:inline-block;
    width:150px;
    text-align:center;
    padding:5px 0;
    background-color:#000;
    color:#fff;
}
.dino-info{
    width:900px;
    height:600px;
    position:absolute;
    top:0;
    left:0;
    background-color:#000;
    overflow:hidden;
}
.dino-info>img{
    width:600px;
    float:left
}
.dino-info p{
    box-sizing:border-box;
    width:300px;
    padding:0 15px;
    float:left
}
.dino-info h5{
    box-sizing:border-box;
    padding-top:10px;
    font-size:25px;
    font-weight:bold;
    text-align:center;
    margin-bottom:30px;
}
.f-left{
    float:left;
}
h5{
   font-size:30px;
    margin:30px 0;
    font-weight:bold;
}
.cast-list>li{
    float:left;
    width:300px;
    height:120px;
    border-radius:10px;
    background-color:#000;
    margin:0 20px 20px 0;
    overflow:hidden;
}

.directer-box img{
    height:120px;
}
.directer-info{
    width:300px;
    height:120px;
    background-color:#000;
    border-radius:10px;
    overflow:hidden;
}
.directer-info>p{
    color:#fff;
    width:200px;
    margin-top:5px;
    text-align:center;
}
.cast-list img{
    height:120px;
}
.cast-list p{
    color:#fff;
    width:200px;
    margin-top:5px;
}
.cast-list img, .cast-list p{
    float:left;
    text-align:center;
}
.directer-box::after, .cast-list::after{
    content:"";
    display:block;
    clear:both;
}