
@charset "utf-8";
*{margin:0; padding:0}
body{font-size:90%; }
ol,ul,li{list-style:none}
img{border:none}
fieldset{border:0 none}
a {text-decoration:none}
legend{position:absolute; left:-999%; width:1px; height:1px; font-size:0; line-height:0}
