@charset "utf-8";
/*		visual*/
.con1{
    overflow: hidden;
}
.visual{
    position:relative
}
.v_btn{
    overflow:hidden;
    position:absolute;
    bottom:10px; 
    left:42%; 
}
.v_btn li{
    float:left;
    height:50px; 
    width:50px
}
.v_btn li a{
    display:block;
    width:100%; 
    height:100%
}
.v_btn li a img{
    width:100%
}    
.sliding_ul{
    width:3600px;
    height:550px
}
.sliding_ul li{
    overflow:hidden;
    width:1200px; 
    height:550px; 
    float:left
}
.sliding_ul li img{
    width:100%
}
/*		visaul end*/
/*		con1*/
/*		con1*/
 /*		con1*/
.con1{
    position:relative
}
.chart_tab {
    width:1114px;
    height:390px;
    overflow:hidden; 
    margin:auto; 
    padding-top:22px
}
.chart_tab>li {
    float:left; 
    width:10%; 
    background-color:#fff; 
    height:40px; 
}
.chart_tab>li.tab_li1{
    margin-left:25%
}
.chart_tab>li>a:link, .chart_tab>li>a:visited {
    float:left; 
    width:100%; 
    background-color:#fff;
    height:40px;line-height:40px;
    text-align: center;color:#333;
}
.chart_tab>li>a:hover, .chart_tab>li>a:focus {
    background-color:#14b8db; 
    color:#fff
}
.chart_tab>li+ li>a{
    border-left:1px solid #eee
}
.chart_arrow{
    position:absolute;
    top:96%;
    left:49%; 
    width:100%; 
    height:70px
}
.chart_arrow li {
    width:15px;
    height:15px;
    float:left; 
    margin-left:10px
}
.chart_arrow li>a{
    width:15px; 
    height:15px; 
    border-radius:50%;
    background-color:#fff; 
    display:block
}
.chart_arrow li>a.selected4{
    background-color:#14b8db
}
.con1 .chart{
    overflow:hidden; 
    width:2400px;
}
.con1 .chart>li{
    float:left; 
    width:205px; 
    position:relative;
    height:328px; 
    overflow:hidden
}
.con1 .chart>li+ li{
    margin-left:22px;
}
.con1 .number{
    background-image:url("../img/blue_tri.png");
    opacity:1;
    background-repeat:no-repeat;
    color:#fff;
    position:absolute;
    width:71px;
    height:71px; 
    font-size:33px;
    padding-left:10px;
    font-family: "Arial Narrow " ;
    font-weight:bold 
}
.con1 .line{ 
    color:#fff;
    line-height:33px; 
    font-size:17px;
    background-image:url("../img/line_bg.png");
    background-repeat:repeat-x;
    position:relative; 
    text-indent:10px
}
.con1 .line span{
    background-color:#00f;
    display:inline-block;
    background-image:url("../img/line_bg2.png");
    background-repeat:repeat-x ;
    right:0; 
    height:33px; 
    position:absolute;
    z-index:3; 
    padding-right:10px
}
.con1 .line span:before{
    display:inline-block; height:0;
    border-bottom: 25px solid transparent;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    border-top: 25px solid #1357d1; 
    content:"";
    position:absolute; 
    left:-25px; 
    top:8px;
    transform:rotate(-45deg)
}

.con1  .poster{
    height:295px
}
.con1  .poster img{
    width:102%
}
.con1 .poster a{
    display:block;
    width:100%;
    height:100%;
}
.con1  .chart_hover{
    transition:all 0.3s;
    position:absolute; 
    top:50px; 
    z-index:4; 
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7);
    opacity:0
}
.chart_tab {
    width:1114px;
    height:390px;
    overflow:hidden;
    margin:auto; 
    padding-top:22px
}
.chart_tab>li {
    float:left; 
    width:10%;
    background-color:#fff;
    height:40px; 
}
.chart_tab>li.tab_li1{
    margin-left:25%
}
.chart_tab>li>a:link, .chart_tab>li>a:visited {
    float:left; 
    width:100%;
    background-color:#fff;
    height:40px;
    line-height:40px; 
    text-align: center;
    color:#333;
}
.chart_tab>li>a:hover, .chart_tab>li>a:focus {
    background-color:#14b8db;
    color:#fff
}
.chart_tab>li+ li>a{
    border-left:1px solid #eee
}
.chart_arrow{
    position:absolute;
    top:96%;
    left:49%; 
    width:100%; 
    height:70px
}
.chart_arrow li {
    width:15px;
    height:15px;
    float:left; 
    margin-left:10px
}
.chart_arrow li>a{
    width:15px;
    height:15px;
    border-radius:50%;
    background-color:#fff ;
    display:block
}
.chart_arrow li>a.selected4{
    background-color:#14b8db
}
.con1 .chart{
    overflow:hidden; 
    width:2400px;
}
.con1 .chart>li{
    float:left; 
    width:205px;
    position:relative;
    height:328px;
    overflow:hidden
}
.con1 .chart>li+ li{
    margin-left:22px;
}
.con1 .number{
    background-image:url("../img/blue_tri.png");
    opacity:1;
    background-repeat:no-repeat;
    color:#fff;
    position:absolute;
    width:71px;
    height:71px; 
    font-size:33px; 
    padding-left:10px;
    font-family: "Arial Narrow " ; 
    font-weight:bold 
}
.con1 .line{ 
    color:#fff; 
    line-height:33px; 
    font-size:17px; 
    background-image:url("../img/line_bg.png");
    background-repeat:repeat-x;
    position:relative; 
    text-indent:10px
}
.con1 .line span{
    background-color:#00f;
    display:inline-block;
    background-image:url("../img/line_bg2.png");
    background-repeat:repeat-x ;
    right:0;
    height:33px; 
    position:absolute;
    z-index:3; 
    padding-right:10px
}
.con1 .line span:before{
    display:inline-block; 
    height:0;
    border-bottom: 25px solid transparent;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    border-top: 25px solid #1357d1; 
    content:""; 
    position:absolute;
    left:-25px;
    top:8px;
    transform:rotate(-45deg)
}
.con1  .poster{
    height:295px
}
.con1  .poster img{
    width:102%
}
.con1 .poster a{
    display:block;
    width:100%; 
    height:100%;
}
.con1  .chart_hover{
    transition:all 0.3s;
    position:absolute; 
    top:50px;  
    z-index:4;
    width:100%; 
    height:100%;
    background-color:rgba(0,0,0,0.7);
    opacity:0
}
/*	.con1 .chart>li:hover .chart_hover{top:0}*/
		
.con1  .chart_hover p{
    width:100%;
    color:#fff;
    text-align:center;
    line-height: 21px
}
.con1 .c_hover_title{
    font-size:15px;
    font-weight: bold;
    margin-top:40px
}
.con1 .chart>li .c_hover_star{
    color:#f00; 
    font-size:25px; 
    line-height: 46px
}		
.con1 .c_hover_btn span{
    display:inline-block; 
    width:82px;
    height:32px;
    line-height:32px; 
    border:1px solid #fff;
    font-size:17px; 
    border-radius: 8px; 
    margin-top:40px;
    transition:all 0.5s
}
.con1  .c_hover_btn span+ span{
    margin-left:16px
}
.con1 .c_hover_btn span a:link, .con1 .c_hover_btn span a:visited{
    color:#fff
}
.con1 .c_hover_btn span a:hover,.con1  .c_hover_btn span a:focus{
    display: block;
    width: 100%;
    height: 100%;
    background-color:#fff;
    color:#00f;
    transition:all 0.5s
}
.chartbox{
    width:1114px; 
    overflow:hidden;
    position:absolute;
    left:43px;
    top:82px;
}
/*con2-1*/
.con2 .w930{
    position:relative
}
.review_tab{
    overflow:hidden;
    margin: 27px 0 22px 23px;
    width:884px;
    position:relative;
    height:339px
}
.review_tab>li{
    float:left;
    border:1px solid #eee;
    width:128px;
    height:28px; 
    background-color:#fff
}
.review_tab>li a:link, .review_tab li a:visited{
    display:block;
    width:100%;
    height:100%; 
    text-align:center; 
    line-height:28px; 
    color:#333
}
.review_tab>li a:hover, review_tab li a:focus{
    background-color:#14b8db;
    color:#fff;
}
.con2 .w930 h4{
    font-size:25px;
    margin-left:23px;
    margin-top:22px
}
.w930 .review{
    margin:auto; 
    overflow:hidden;
    width:884px; 
    position:absolute;
    top:53px; 
    left:0 
}
.w930 .review>li{
    float:left; 
    position:relative;
    overflow:hidden;
    width:280px; 
    height:260px;
}
.w930 .review>li a:link, .w930 .review li a:visited{
    display:block; 
    width:100%; 
    height:100%; 
    transition:all 0.5s; 
}
.w930 .review>li a:hover img, .w930 .review li a:focus img{
    transform:scale(1.5);
    transition:all 0.5s
}
.w930 .review>li a:hover .review_title, .w930 .review li a:focus .review_title{
    top:138px;
    transition:all 0.5s
}
.w930 .review>li a:hover .review_info, .w930 .review li a:focus .review_info{
    left:0;
    top:160px;
    transition:all 0.5s
}
.w930 .review>li+li{
    margin-left:22px
}
.w930 .review>li .review_title{
    width:280px;
    position:absolute;
    top:185px;
    color:#fff;
    background-color:rgba(0,0,0,0.5);
    text-align: center;
    font-size:21px;
    font-weight:bold;
    z-index:2
}
.w930 .review_bg{
    width:280px; 
    overflow:hidden; 
    height:210px;
}
.w930 .review_bg img{
    width:400px; 
    margin-bottom:21px
}
.w930 .review_info{
    width:280px;
    height:105px; 
    color:#fff; 
    background-color:#1facc0;
    position:absolute;
    top:210px;
    left:0
}
.w930 .review .other_color{
    background-color:#147185
}
.w930 .review_point{
    font-size:17px; 
    font-weight:bold;
    text-align:center;
    padding:14px 0 14px;
}
.w930 .review_point span+ span{
    margin-left:20px
}
.w930 .review_col{
    padding:0 15px;
    font-size:16px; 
    margin-bottom:11px;
    font-weight: normal;
    text-align: left; 
    line-height: 22px;
}       
 /* =====       review2 start        =================================            */
.w930 .review2>li>a:link .review_title, .w930 .review2>li>a:visited .review_title{
    top:187px;
    transition:all 0.5s;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    font-size:14px;
    line-height:20px;
    width:248px;
    font-size:17px;
    line-height:24px; 
    padding: 0 15px;
    position:absolute;
    background-color:rgba(255,255,255,1);
    border-right:1px solid #eee;
    color:#000;
}
.w930 .review2 li a:link .review_info, .w930 .review2 li a:visited .review_info{
    top:210px;
    transition:all 0.5s;
    background-color:#fff;
    color:#333;
    border:1px solid #eee;
    width:278px; 
    height:103px
}        
.w930 .review2 .review_col{
    margin-bottom:0; 
    text-overflow:ellipsis;
    white-space:normal;
    overflow:hidden;
    font-size:12px; 
    height:60px;
    -webkit-line-clamp: 3; 
    line-height:20px
}
.w930 .review2 .review_point{
    padding:0;
    font-weight:normal;
    font-size:12px;
    border-top:1px solid #eee;
    margin-top: 20px;
}
.w930 .review2 .review_point span+ span{
    margin-left:110px;
    line-height:20px
}
.w930 .review2 li a:hover .review_title, .w930 .review2 li a:focus .review_title{
    top:130px;
    transition:all 0.5s;
}
.w930 .review2 li a:hover .review_info, .w930 .review2 li a:focus .review_info{
    top:153px;
    transition:all 0.5s
}
.con1 .chart-side-button{
    position:absolute;
    top:50%;
    width:100%;
    z-index:10;
    display:none;
}
.con1 .chart-side-button:after{
    display:block;
    content:"";
    clear:both;
}
.con1 .chart-side-button>li{
    width:38px;
    float:left;
}
.con1 .chart-side-button>li+li{
    float:right;
}
/*		con2-1 end*/
/*		con2-2 */
		
.con2 .w270{
    background-color:#147185;
    position:relative
}
.con2 .w270 a:link, .con2 .w270 a:visited{
    color:#fff
}		
.con2 .w270 h4{
    padding: 22px 0 27px 22px;
    font-size:18px;
    font-weight: bold;
    color:#fff;
    border-bottom:1px solid #0386a2
}
.con2 .w270 p{
    width:234px; 
    overflow:hidden;
    margin:0 auto;
    border-bottom:1px solid #0386a2;
    font-size:16px;
    line-height:23px;
    font-weight: bold; 
    padding:2px 0
}    
.con2 .w270 p span{
    font-size:12px; 
    font-weight:normal;
    line-height: 23px; 
}
.con2 .w270 p img{
    width:234px; 
    margin-bottom:18px
}
.con2 .w270  strong{
    color:#fff; 
    margin-left:22px; 
    display:block;
    float:left;
    width:60px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.con2 .w270 dd{
    background-color: #147185;
}
.con2 .w270 dt{
    background-color:#147185;
    line-height:40px;
    cursor:pointer;
    border-bottom: 1px solid #0386a2;
}
.con2 .w270  .netizen_star{
    font-size:17px; 
    margin-left:10px; 
    color:#f00;
}
.arc_icon{
    position:absolute;
    right:15px; 
    transition:all 0.7s
}
.con2 .w270 .netizen_col{
    display:block; 
    width:190px;
    float:left
}
.con2 .w270 .netizen_id{
    float:left
}
/*con2-2 end*/
/*con4-1*/
.con4 .w930 h4{
    font-size:25px; 
    margin:22px 0 27px 22px
}	
.con4 .w930 .fl{
    float:left;
    position:relative;
    margin-left:22px; 
    width:617px;
    height:311px; 
    overflow:hidden
}
.con4 .w930 .fl img{
    width:100%; 
    position:absolute; 
    left:0;
    top:0
}
.con4 .news_img{
    width:100%;
    height:80%;
    position:relative 
}
.con4 .news_img img{
    position:absolute; 
    left:0;
    top:0
}
.con4 .news_title{
    background-color:rgba(0,0,0,0.5); 
    width:617px;
    height:62px;
    position:absolute; 
    bottom:0
}
.con4 .news_title a:link,.con4 .news_title a:visited{
    color:#fff; 
    display:block; 
    width:100%;
    height:100%;
	text-align: center;
    font-size:21px; 
    font-weight:bold;
    line-height:62px; 
}
.con4 .w930 .fr {
    float: left;
    width: 268px;
    height: 62px;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
}
.con4 .w930 .fr li {
    position: relative;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    width: 232px;
    height: 51px;
    display: block;
    font-size: 12px;
    line-height: 17px;
    padding: 10px 18px 0 18px;
}
.con4 .w930 .fr li a:link, .con4 .w930 .fr li a:visited{
    padding: 10px 18px 0 18px;
    font-size:12px; 
    color:#fff;
    border-right:1px solid #eee;
    border-bottom:1px solid #eee;
    height:52px; 
    display:block;
    font-size:12px;
    line-height:17px;
    position:absolute;
    left:0;
    top:0;
    background-color: #14b8db;
    opacity:0 
}
.con4 .w930 .fr li a:hover, .con4 .w930 .fr li a:focus{
    background-color: #14b8db;
    color:#fff;
    opacity:1
}
.con4 .fr li a:after{
    border-bottom:30px solid transparent;
    content:"";
    border-right:30px solid  #14b8db;
    border-top:30px solid transparent;
    border-left:30px solid transparent;
    position:absolute; left:-60px; top:0; z-index:1;
}

.con4 .w930 .fr li a:hover+ a:after, .con4 .w930 .fr li a:focus+ a:after{
    background-color: #14b8db; 
    left:-40px
}		
/*con4-1 end*/
/*con4-2*/
.con4 .w270{
    background-color:#0386a2; 
    position:relative
}
.con4 .w270 h4{
    color:#fff;
    font-size:22px; 
    width:216px;
    margin:22px 0 12px 22px; 
    height:54px;
    border-bottom:1px solid #eee
}
.con4 .suda_list li a:link, .con4 .suda_list li a:visited{
    display:block;
    width:100%; 
    height:100%; 
    font-size:12px; 
    color:#fff;
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden
}
.con4 .suda_list li a:hover, .con4 .suda_list li a:focus{
    text-decoration:underline
}
.con4 .w270 div{
    width:216px; 
    position:absolute; 
    left:5%
}
.con4 .w270 h5{
    width:85px;
    color:#fff;
    font-size:15px;
    display:inline-block;
    line-height:15px
}
.con4 .suda_nav{
    display:inline-block;
    width:45px;
    height:15px;
}
.con4 .suda_nav li{
    float:left;
    width:20px;
    height:20px;
    border-radius:5px;
    overflow:hidden
}
.con4 .suda_nav li a:link,.con4 .suda_nav li a:visited{
    display:block; 
    width:100%; 
    height:100%;
}
.con4 .suda_nav li:first-child{
    margin-right:5px
}
.con4 .suda_nav li img{
    width:100%
}
.con4 .suda_list{
    margin-top:15px
}
.con4 .suda_list li{
    margin-bottom:10px; 
    width:216px
}

.con4 .suda_list a span{
    display:inline-block; 
    width:14px;
    height:14px;
    background-color:#fff;
    color:#0386a2; 
    text-align:center; 
    font-size:11px; 
    border-radius:2px; 
    font-weight: bold;
    margin-right:5px;  
}
.con4 .suda_list a .no1{
    background-color:#0000ff; 
    color:#fff;
    border-radius:2px;
}
/*con4-2 end*/   
/* con5-1*/
.con5 .w930 h4{
    width:237px;
    height:304px;
    background-color:#14b8db;
    color:#fff; 
    text-align:center;
    font-size:44px; 
    line-height:304px; 
    margin-left:22px;
    float:left
}
.con5 .w930 div p{
    width:217px; 
    height:152px;
    color:#fff;
}
.con5 .w930 div .int_img{
    width:217px; 
    height:152px;
    overflow: hidden;
    color:#fff
}
.con5 .w930 .int_cover{
    width:910px;
    overflow: hidden
}
.con5 .w930 .int3 {
    width:217px; 
    height:152px; 
    float:right
}
.con5 .w930 .int1{
    width:434px;
    height:152px; 
    float: left;
}
.con5 .w930 .int1 p{
    float:left;
    width:217px
}
.con5 .w930 .int1 .int_con1{
    background-color:#14b8db;
    position:relative
}
.con5 .w930 .int2{
    float:left;
    width:434px;
    height:152px;
}
.con5 .w930 .int2 p{
    float:right
}
.con5 .w930 .int2 .int_con2{
    background-color:#118aa4;
    position:relative
}
.con5 .w930 .int3 .int_con3{
    background-color:#118aa4;
    float:left;
    position:relative
}
.con5 .w930 .int1 .int_con1:after{
    border-bottom:30px solid transparent;
    content:"";
    border-right:30px solid  #14b8db;
    border-top:30px solid transparent;
    border-left:30px solid transparent;
    position:absolute; 
    left:-60px; 
    top:40px;
    z-index:1; 
}
.con5 .w930 .int2 .int_con2:after{
    border-bottom:30px solid transparent;
    content:"";
    border-right:30px solid  transparent;
    border-top:30px solid transparent;
    border-left:30px solid #118aa4;
    position:absolute; 
    right:-50px;
    top:40px; 
    z-index:1; 
}
.con5 .w930 .int3 .int_con3:after{
    border-bottom:30px solid transparent; content:"";
    border-bottom:30px solid  #118aa4;				
    border-right:30px solid  transparent;
    border-top:30px solid transparent;
    border-left:30px solid transparent;
    position:absolute; left:80px; top:-50px; z-index:1;
}
.con5 .w930 img{
    width:227px;
}
.con5 .w930 p{
    text-align:center; 
    font-size:13px;
    line-height:21px
}
.con5 .w930 p span{
    display:block; 
    font-size:11px; 
    line-height:11px; 
    margin-top:30px;
}
.con5 .w930 strong{
    display:block; 
    font-size:20px; 
    text-align:center;
    margin-top:46px;
}
.con5 .w930 div a:link,.con5 .w930 .int a:visited{
    color:#fff
}
.con5 .w930 .int a:hover p, .con5 .w930 .int a:focus p{
    text-decoration:underline
}
.con5 .w930 div a:hover img, .con5 .w930 .int a:focus img{
    transform:scale(1.5); 
    transition:all 0.5s
}
/*con5-1 end*/
/*		con5_2*/		
.con5 .w270{
    position:relative;
    overflow:hidden
}
.con5 .w270 h4{
    height:57px;
    width:100%; 
    text-align:center;
    background-color:#000;
    position:absolute;
    background-color:rgba(0,0,0,0.5); 
    line-height:57px; 
    z-index:4;
}
.con5 .w270 h4 a:link,.con5 .w270 h4 a:visited{
    width:100%; 
    display:block; 
    height:100%;
    color:#fff;
    font-size:22px
}
.con5 .w270>a:link .trailer,.con5 .w270>a:visited .trailer{
    background-color:#000;
    overflow: hidden 
}
.con5 .w270>a:hover .trailer img,.con5 .w270>a:focus .trailer img{
    opacity:0.7
}
.con5 .w270>a:link .movie_play,.con5 .w270>a:visited .movie_play{
    opacity:0;
    color:#fff;
    position:absolute;
    left:30%; 
    top:100px; 
    display:block; 
    width:100px;
    font-size: 13px;
}
.con5 .w270>a:hover .movie_play , .con5 .w270>a:focus .movie_play{
    opacity:1
}
.con5 .w270 p{
    position:relative;
    width:100%;
    height: 100%
}
.con5 .w270 p .movie_title{
    width:100%; 
    display:block;
    position:absolute; 
    left:0; 
    color:#fff; 
    bottom:0; 
    text-align:center; 
    font-size:22px;
    line-height:40px; 
    font-weight:bold; 
    background-color:rgba(0,0,0,0.5)
} 
.con5 .w270 h4 a{
    color:#fff;
    font-size:22px
}
.con5 .w270 img{
    width:100%
}
.con5  .w270 p .movie_play img{
    width:100px
} 
/*		con5_2 end*/
/*		con6*/
.con6 article{
    height:50px; 
    background-color:#fff;
    border:1px solid #eee
} 
.con6 h4{
    margin:0 36px 0 22px; 
    font-size:17px; 
    display:inline-block; 
    width:100px;
    line-height:50px
}
.con6 p{
    display:inline-block;
    font-size:12px;
    line-height:50px
}
.con6 p span{
    margin-left:20px
}
.con6 p>a:link,.con6 p>a:visited{
    display:inline-block;
    font-size:12px; 
    line-height:50px;
    color:#333
}
.con6 .notice_more{
    margin-left:60px;
    font-weight:bold;
}
/*		con6 end*/
