@charset "utf-8";
@media all and (min-width: 1201px) and (max-width: 1430px) {
/*layout*/	
    body #main, #sub{
        width:83%;
    }
    body .con3{
        width:100%; 
        height:auto
    }
    body .con4{
        width:100%
    }
    body .con5{
        width:100%
    }
    body .con6{
        width:100%
    }
    body .visual{
        width:100%; 
        height:auto
    }
    body .con .w930{
        width:77%
    }
    body .con .w270{
        width:23%
    }

    .visual{
        position:relative
    }
/*header*/		
    #header input[type=text]{
        width:185px; 
        height:30px; 
        border-color:transparent; 
        border:2px solid #cee5e9;
    }
    #btn{
        width:20px; 
        height:20px;
        position:absolute;
        right:10px;
        top:5px;
        border:0 none;
        background-image:url("../img/search_btn2.png");
        background-repeat:no-repeat;
        background-size:20px; 
        background-color:#fff;
        cursor:pointer;					
        text-indent:-9999px;
    }
/*con1*/
    body .con1{
        width:100%
    }
/*con2*/    
    body .con2{
        width:100%
    }
    body .con2 .w270 p{
        width:90%;
        margin:auto
    }
    body .con2 .w270 dt strong{
        text-overflow:ellipsis;
        overflow:hidden;
        white-space:nowrap;
        float:left;
        display:block; 
        width:25%
    }
    body .con2 .w270 p img{
        width:100%; 
        margin:auto
    }
    body .con2 .w270 p  a:link,body .con2 .w270 p  a:visited{
        width:100%; 
        height:100%;
        display:block
    }
    body .con2 .w270 .netizen_col{
        width:70%
    }
/*con3*/ 

    .v_btn{
        overflow:hidden;
        position:absolute;
        bottom:10px; 
        left:47%; 
    }
    .v_btn li{
        float:left;
        height:50px; 
        width:50px
    }
    .v_btn li a{
        display:block; 
        width:100%; 
        height:100%
    }
    .v_btn li a img{
        width:100%
    }
    .sliding_ul{
        width:300%; 
        height:auto
    }
    .sliding_ul li{
        overflow:hidden;
        width:33.3%;
        height:auto; 
        float:left
    }
    .sliding_ul li img{
        width:100%
    }
/*		visaul end*/
/*		con1*/    
    .chart_tab {
        width: 100%;
        height: 390px;
        overflow: hidden;
        margin: auto;
        padding-top: 22px;
    }
    .con1 .chart_tab .tab_li1{
        margin-left:25%
    }
/*		con2*/     	
    body .w930 .review_tab{
        width:95%;
        margin:27px auto
    }
    body .w930 .review_tab .review{
        width:100%;
        margin:auto
    }
    body .w930 .review li{
        width:31%;
    }
    body .w930 .review li+li{
        margin-left:3.5%; 
    }
    
    body .w930 .review_info {
        top:80%; 
        width:100%
    }
    body .w930 .review_info p{
        top:80%;
        width:90%;
        padding:4% 5% 0 5%;
        font-size:14px
    }
    body .w930 .review li .review_title{
        top:71%;
        width:100%;
        font-size:17px
    }
	body .w930 .review_bg {
        width: 100%; 
        overflow: hidden;
        height: 210px;
    }
	body .w930 .review_bg img {
        height: 100%;
    }
    .w930 .review2>li>a:link .review_title, .w930 .review2>li>a:visited .review_title {
        top: 187px;
        transition: all 0.5s;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 14px;
        line-height: 20px;
        width: 91%;
        font-size: 17px;
        line-height: 24px;
        padding: 0 4.1%;
        position: absolute;
        background-color: rgba(255,255,255,1);
        color: #333;
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
    }
            
    .w930 .review2>li>a:hover .review_title,.w930 .review2>li>a:focus .review_title{
        top:138px
    }           
    .w930 .review2 .review_info .review_col{
        font-size:12px; 
        height: 60px; 
        overflow:hidden
    }           
    .w930 .review2 li a:link .review_info, .w930 .review2 li a:visited .review_info{ 
        width: 91%;
        padding: 0 4.1%;
    }

    .w930 .review2 .review_point{
        margin-top:2%;
        padding: 0; width: 100%;
    }
    .w930 .review2 .review_point span+ span{
        margin-left:30%
    }
    /*con3*/
     body .con3 img{
        width:100%
    }
    /*con4*/
    body .con4 .news_title{
        width:100%
    }        
	body .con4 .fl .news_img{
        width:100%
    }
    body .con4 .fl .news_img img{
    width:100%
    }	

	body .con4 .w930 .fr li {
    position: relative;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    width:87%;   
    padding: 10px 6% 0 7%;
    height: 51px;
    display: block;
    font-size: 12px;
    line-height: 17px;
     padding: 10px 6% 0 7%;
    }		
	body .con4 .w930 .fl{ 
        float: left;
        position:relative;
        margin-left:2.3%;
        width: 63.6%;    
        overflow: hidden;
    }
	body .con4 .w930 .fr li a:link, body .con4 .w930 .fr li a:visited{
        width:87%;  
        padding: 10px 6% 0 7%;
    }		
    .con4 .w930 .fr {
        float: left; 
        width: 31.8%;
        border-top: 1px solid #eee;
        border-left: 1px solid #eee;
    }
    .con4 .w270 h4{
        width:90%;
        margin:22px auto
    }  
     /*con5*/
    .con5 .w930 .int_cover {
        overflow: hidden;
    }
    .con5 .w930 .int_cover {
        width: 95.4%;
        margin-left: 2.3%;
    }
    .con5 .w930 .int_cover h4{
        margin:0;
        width:26%
    }
    .con5 .w930 .int_cover h4{
        width:25%
    }
    .con5 .w930 .int_cover .int1{
        width:50%
    }
    .con5 .w930 .int_cover .int2{
        width:50%
    }
    .con5 .w930 .int_cover .int3{
        width:25%
    }
    .con5 .w930 .int_cover .int p{
        width:50%
    }
    .con5 .w930 .int_cover .int img{
        width:100%
    }
    .con5 .w930 .int_cover .int3 p{
        width:100%
    }
    .con5 .w270 p {
        overflow: hidden;
        height: 304px; 
        position: relative;
    }
    .con5 .w270 img {
        width: 120%;
    }
    /*footer*/
    #footer p, address{
        text-align:left;
        margin-left:10px; 
        display:inline
    }	
    #footer .copy{
        margin-left:22px
    }	
}
@media all and (min-width: 1025px) and (max-width: 1200px) {
    /*layout*/
    body .con3{
        width:100%;
        height:auto
    }
    body .con3 img{
        width:100%
    }		
    body .con4{
        width:100%
    }
    body .con5{
        width:100%
    }
    body .con6{
        width:100%
    }
    body .visual{
        width:100%; 
        height:auto
    }
    body .con .w930{
        width:77%
    }
    body .con .w270{
        width:23%
    }
    body .visual img{
        width:100%
    }	
    /*		header */
    #header #gnb{
        position:relative
    }
    #header #gnb>li{
        position:static
    }
    #header .gnb_sub{
        transform:rotate(0deg);
        width:100%; 
        height:50px;
        background-color:#fff;
        color:#fff;
        font-size:15px;
        text-indent:20px;
        top:50px;
        opacity:1;
        left:0;
    }
      #header .gnb_sub2{
        transform:rotate(0deg);
        width:100%;
        height:450px;
        background-color:#fff;
        top:50px;
        left:0;
        opacity:1;
    }
    #header .gnb_sub strong{
        background-color:#14b8da;
        padding:4px;
    }
    body #header{ 
        background-color: #fff; 
        width: 100%;
        height: 266px;
        position: static;
    }
		body #header form{  
        position: absolute; 
        top:135px;
        right: 136px;
        margin: 0;
    }
     .gnb_sub2 > dl > dt{
        width:100%; 
        overflow:hidden;
        height:260px;
        overflow: hidden;
        margin-bottom:15px
    }                         
    body h1 {
        margin-top: 0;
        padding-top: 61px;
        text-align: center; 
        width:448px; 
        height:105px
    }
    body h1 .logo1{ 
        display:none
    }
    body h1 .logo2{ 
        display:block
    }
    #header	form{
        margin:0
    }
    #header>nav{
        width:100%; 
        background-color:#147185;
        margin-top:50px
    }
    #gnb {
        width:100%;
        height:50px;
        margin: auto; 
        background-color:#147185
    }
      
    #gnb>li {
        width: 14%;
        float: left;
        height:50px;
        margin-bottom:0;
        background-color:#147185;
    }
    #gnb>li>a:link, #gnb>li>a:visited{
        color:#fff; 
        height:50px;
        margin-left:0;
        text-align: center;
        width:100%; 
        line-height: 50px; 
        background-image:none; 
        font-size:15px
    }
    #header input[type=text]{ 
        border-color:transparent;
        border-bottom:1px solid #cee5e9
    }
	#header .gnb_box2{
        display:none
    }
    #header .log{   
        position: absolute;
        right: 129px;
        top: -26px;
    }
    #header .log li a:link, #header .log li a:visited{
        color:#333
    }
    
    body #main, #sub{
        width:100%;
        margin:0;
    }
		
    #btn{
        width:20px; 
        height:20px; 
        position:absolute; 
        right:10px;
        top:5px; 
        border:0 none;
        background-image:url("../img/search_btn2.png");
        background-repeat:no-repeat;
        background-size:20px; background-color:#fff; cursor:pointer;
        text-indent:-9999px;
    }
/*		visual*/     
    .visual{
        position:relative
    }
    .v_btn{
        overflow:hidden;
        position:absolute;
        bottom:10px;
        left:47%; 
    }
    .v_btn li{
        float:left;
        height:50px;
        width:50px
    }
    .v_btn li a{
        display:block; 
        width:100%; 
        height:100%
    }    
    .sliding_ul{
        width:300%; 
        height:auto
    }
    .sliding_ul li{
        overflow:hidden; 
        width:33.3%; 
        height:auto; 
        float:left
    }
    .sliding_ul li img{
        width:100%
    }        
/*		visaul end*/
/*		con1*/
    body .con1{
        width:100%; 
        overflow:hidden
    }
    .chart_tab {
        width: 100%;
        height: 390px;
        overflow: hidden;
        margin: auto;
        padding-top: 22px
    }
    .chart_tab>li {
        float:left;
        width:10%;
        background-color:#fff;
        height:40px;
    }
    .con1 .chart_tab .tab_li1{
        margin-left:25%
    }  
    .chart_tab>li>a:link, .chart_tab>li>a:visited {
        float:left; 
        width:100%;
        background-color:#fff; 
        height:40px;
        line-height:40px;
        text-align: center;
        color:#333; 
    }
/*		con2*/    
    body .con2{
        width:100%
    }
    body .con2 .w270 p{
        width:90%;
        margin:auto
    }
    body .con2 .w270 .netizen{ 
        width:30%
    }
    body .con2 .w270 p img{
        width:100%;
        margin:auto
    }
    body .con2 .w270 p  a:link,body .con2 .w270 p  a:visited{
        width:100%; 
        height:100%;
        display:block
    }
    .con2 .w270 .netizen_col{
        width:150px
    } 
    body .w930 .review_tab{
        width:95%;
        margin:27px auto
    }	
    body .w930 .review_tab .review{
        width:100%;
        margin:auto
    }
    body .w930 .review li{
        width:31%;
    }
    body .w930 .review li+li{
        margin-left:3.5%; 
    }
    body .w930 .review_info {
        top:80%;
        width:100%
    }
    body .w930 .review_info p{
        top:80%; 
        width:90%;
        padding:4% 5% 0 5%;
        font-size:14px
    }
    body .w930 .review li .review_title{
        top:71%;
        width:100%; 
        font-size:17px
    }
	body .w930 .review_bg { 
        width: 100%; 
        overflow: hidden;
        height: 210px;
    }
	body .w930 .review_bg img { 
        height: 100%;
    }
    .w930 .review2>li>a:link .review_title, .w930 .review2>li>a:visited .review_title {
        top: 187px;
        transition: all 0.5s;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 14px;
        line-height: 20px;
        width: 91%;
        font-size: 17px;
        line-height: 24px;
        padding: 0 4.1%;
        position: absolute;
        background-color: rgba(255,255,255,1);
        color: #333;
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
    }
            
    .w930 .review2>li>a:hover .review_title,.w930 .review2>li>a:focus .review_title{
        top:138px
    }           
    .w930 .review2 .review_info .review_col{
        font-size:12px;   
        height: 60px; 
        overflow:hidden
    }                   
    .w930 .review2 li a:link .review_info, .w930 .review2 li a:visited .review_info{ 
        width: 91%;
        padding: 0 4.1%;
    }
    .w930 .review2 .review_point{
        margin-top:2%;    
        padding: 0; 
        width: 100%;
    }
    .w930 .review2 .review_point span+ span{
        margin-left:30%
    }
    body .con2 .w270 dt strong {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        float: left;
        display: block;
        width: 25%;
    }        
    body .w930 .review{
        width:95%;
        margin:auto
    }
    body .w930 .review>li{
        width:31%;
    }
    body .w930 .review li+li{
        margin-left:3.5%;
    }
    body .w930 .review_info {
        top:80%; 
        width:100%
    }
    body .w930 .review li .review_title{
        top:71%; 
        width:100%;
        font-size:17px
    }
    body .w930 .review_bg { 
        width: 100%;
        overflow: hidden;
        height: 210px;
    }
    body .w930 .review_bg img { 
        height: 100%;
/*con4*/
    }
	body .con4 .news_title{
        width:100%
    }
	body .con4 .fl .news_img{
        width:100%
    }
	body .con4 .fl .news_img img{
        width:100%
    }	
	body .con4 .w930 .fr li {
        position: relative;
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;
        width:87%;   padding: 10px 6% 0 7%;
        height: 51px;
        display: block;
        font-size: 12px;
        line-height: 17px;
         padding: 10px 6% 0 7%;}		
			
	body .con4 .w930 .fl{ 
        float: left;
        position: relative;
        margin-left:2.3%; 
        width: 63.6%;    
        overflow: hidden;
    }
	  .con4 .w930 .fr {
        float: left;
        width: 31.8%;
        border-top: 1px solid #eee;
        border-left: 1px solid #eee;
    }
	body .con4 .w930 .fr li a:link, body .con4 .w930 .fr li a:visited{
        width:87%; 
        padding: 10px 6% 0 7%;        
    }
    /*con5*/
    .con5 .w930 .int_cover {
        overflow: hidden;
    }
    .con5 .w930 .int_cover {
        width: 95.4%;
        margin-left: 2.3%;
    }
    .con5 .w930 .int_cover h4{
        margin:0; 
        width:26%
    }
    .con5 .w930 .int_cover h4{
        width:25%
    }
    .con5 .w930 .int_cover .int1{
        width:50%
    }
    .con5 .w930 .int_cover .int2{
        width:50%
    }
    .con5 .w930 .int_cover .int3{
        width:25%
    }
    .con5 .w930 .int_cover .int p{
        width:50%
    }
    .con5 .w930 .int_cover .int3 p{
        width:100%
    }		
    .con5 .w270 p { 
        overflow: hidden; 
        height: 304px;
        position: relative;
    }
    .con5 .w270 img {
        width: 120%;
    }
       .con5 .w930 .int_cover {
        overflow: hidden;
    }
    .con5 .w930 .int_cover {
        width: 95.4%;
        margin-left: 2.3%;
    }
    .con5 .w930 .int_cover h4{
        margin:0; 
        width:26%
    }
    .con5 .w930 .int_cover h4{
        width:25%
    }
    .con5 .w930 .int_cover .int1{
        width:50%
    }
    .con5 .w930 .int_cover .int2{
        width:50%
    }
    .con5 .w930 .int_cover .int3{
        width:25%
    }
    .con5 .w930 .int_cover .int p{
        width:50%
    }
    .con5 .w930 .int_cover .int3 p{
        width:100%
    }		
    .con5 .w270 p { 
        overflow: hidden; 
        height: 304px;
        position: relative;
    }
    .con5 .w270 img {
        width: 120%;
    }		
/*footer*/
	body #footer{
        position:static;
        width:100%; 
        background-color:#118aa4;
        height:20%
    }
	body #footer .foot { 
        width: 45%; 
        overflow:hidden;
        padding-top:20px
    }
	body #footer .foot li{
        float:left; 
        width:20%
    }
	body #footer .foot li a:link, body #footer .foot li a:visited{
        text-align:center;
        padding:0;
        background:none
    }
  
    #footer p, address{
        text-align:left;
        margin-left:10px;
        display:inline
    }	
    #footer .copy{
        margin-left:22px
    }		
}
/*		con end*/
@media all and (min-width: 601px) and (max-width: 1024px) {
    /*layout*/
    body #main, #sub{
            width:100%;
            margin:0
    }
    body .con1{
            width:100%; 
            overflow:hidden
    }
    body .con2 {
        height: auto;
        width: 100%;
    }
    body .con3{
            width:100%; 
            height:auto
    }
    body .con3 img{
            width:100%
    }		
    body .con4{
            overflow: hidden; 
            width: 100%;
            height: auto;
    }
    body .con5{
            width:100%
    }
    body .con6{
            width:100%
    }
    body .visual{
            width:100%; 
            height:auto
    }
    body .con .w930{
            width:60%
    }
    body .con .w270{
            width:40%
    }
    body .visual img{
            width:100%
    }	
    /*header*/
    body #header{ 
        background-color: #fff; 
        width: 100%; 
        height: 100px; 
        position: static; 
    }
    body #header form{   
        position: absolute; 
        right: 0;
        top:85px; 
        margin: 0;
        width:100%;
        height:32px;
        z-index:10;
    }
    body #header fieldset{
        height:32px;
    }
    #header input[type=text]{  
        width:100%; 
        height:40px; 
        border:4px solid #14b8db;
        box-sizing:border-box;
        border-radius:0;
    }    	
    body h1 {
        margin-top: 0;
        padding-top: 20px;
        text-align:center; 
        width:100%;
    }	
    body h1 .logo1{ 
        display:none
    }
    body h1 .logo2{
        display:block; 
        width:239px;
        margin:auto
    }
    body h1 .logo2 img{
        width:100%
    }	
    #header>nav{
        width:100%; 
        background-color:#147185;
        margin-top:50px
    }
    #gnb {
        width:60%; 
        height:50px;
        margin: auto; 
        display:none;
    }
    #gnb li {
        width: 14%;
        float: left;
        height:50px;
        margin-bottom:0
    }
    #gnb li a:link, #gnb li a:visited{
        color:#fff;
        height:50px; 
        margin-left:0;
        text-align: center;
        width:100%; 
        line-height: 50px;
        background-image:none
    }	
	#header .gnb_box2{
        display:block
    }
    #header .log{    
        display:none
    }
    #header .log li a:link, #header .log li a:visited{
        color:#333
    }
    .visual{
        position:relative
    }
    #btn{
        width:20px;
        height:20px; 
        position:absolute;
        right:10px;
        top:5px; 
        border:0 none;
        background-image:url("../img/search_btn2.png");
        background-repeat:no-repeat;
        background-size:20px; background-color:#fff; cursor:pointer;
        text-indent:-9999px;
    }
    /*visual*/
    .sliding_ul{
            width:300%; 
            height:auto
    }
    .sliding_ul li{
            overflow:hidden; 
            width:33.3%; 
            height:auto;
            float:left
    }
    .sliding_ul li img{
            width:100%
    }    
/*		con1*/
    .chart_tab {
            width: 100%;
            height: 390px;
            overflow: hidden;
            margin: auto;
            padding-top: 22px
    }	
    .con1 .chart_tab .tab_li1{
            margin-left:10%
    }
    
    body .w930 .review_tab { 
            width: 95%;
            margin: 27px auto;
    }
    .chart_tab>li {
            float:left;
            width:16%; 
            background-color:#fff;
            height:40px; 
    }
    .chart_tab>li>a:link, .chart_tab>li>a:visited {
            float:left; 
            width:100%;
            background-color:#fff;
            height:40px;
            line-height:40px; 
            text-align: center;
            color:#333; 
    }
    /*con2*/
    body .w930 .review li{
            width:47%; 
    }
    body .w930 .review li+li{
            margin-left:6%;
    }
    body .w930 .review{
            width:95%;
            margin:auto
    }
    body .con2 .w930 .review li.off{
            display:none
    }
    body .w930 .review_info {
            top:80%; 
            width:100%
    }
    body .w930 .review li .review_title{
            top:71%; 
            width:100%; 
            font-size:17px
    }
    body .w930 .review_bg { 
            width: 100%;
            overflow: hidden;
            height: 210px;
    }
    body .w930 .review_bg img { 
            height: 100%;
    }
   
    .con2 .w270 p { 
            width:95%;
    }
    .con2 .w270 p img{ 
        width:100%;
    }
    body .con2 .w270 p  a strong{
        float:left;
        display:block;
        width:25%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
	body .con2 .w270 p  a span{
        float:left;
        line-height:30px
    }
	body .con2 .w270 p  a span.netizen_col{
        float:left;
        padding-left:2%; 
        width:30%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
	body .con2 .w270 p  a span.netizen_id{
        float:right
    }
    /*con4*/
	body .con4 .news_title{
        width:100%
    }
	.con4 .w930 .fr {
        float:none; 
        width: 95.4%;
        border-top: 1px solid #eee;
        border-left: 1px solid #eee; 
        margin-left:2.3%;    
        height: auto;
        overflow: hidden;
    }
	body .con4 .w930 .fr li {
        float:left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;
        width:36.7%;   
        padding: 10px 6% 0 7%;
        height: 51px;
        display: block;
        font-size: 12px;
        line-height: 17px;
        padding: 10px 6% 0 7%;
    }
	body .con4 .w270{
        height:514px;
    } 
	body .con4 .w270 h4{
        width:85%
    }
	body .con4 .w270 div{
        width:90%;
        margin-left:22px;
        margin-top:40px
    }
	body .con4 .w270 .suda_list{
        width:100%
    }
	body .con4 .w270 .suda_list li{
        margin-bottom: 18px;
        width:100%
    }
	body .con4 .w930 .fr li.off{
        display:none
    } 	
	body .con4 .w930 .fl{
        float:none;
        position: relative;
        margin-left:2.3%; 
        width: 95%;   
        height: 230px;
        overflow: hidden;
    }
	body .con4 .w930 .fr li a:link, body .con4 .w930 .fr li a:visited{ 
        width:87%; 
        padding: 10px 6% 0 7%;
    }		
	body .con4 .w930 .fr li a:after{
        display:none
    }
/*con5*/   
    .con5 .w930 .int_cover {
        overflow: hidden;
    }
    .con5 .w930 .int_cover {
        width: 95.4%;
        margin-left: 2.3%;
        height:304px
    }
    .con5 .w930 .int_cover h4{
        margin:0; 
        width:100%;
        float:none; 
        height: 54px; 
        line-height:54px;
        background-color:#fff;
        color:#333; 
        font-size:25px;
        text-align:left
    }	
    .con5 .w930 .int_cover .int1{
        width:66.6%;
        height:123px
    }
    .con5 .w930 .int_cover .int2{
        width:66.6%;
        height:123px
    }
    .con5 .w930 .int_cover .int3{
        width:33.4%;
        height:246px
    }		
    .con5 .w930 .int_cover .int p a:link,.con5 .w930 .int_cover .int p a:visited{
        font-size:12px
    }		
    .con5 .w930 .int_cover .int p{
        width:50%;
        height:123px;
        font-size:12px;
        display:inline-block;
        text-overflow: ellipsis;
        overflow:hidden;
        white-space:nowrap;
        position: relative;
    }	
    .con5 .w930 .int_cover .int3 p{
        width:100%
    }
    .con5 .w930 p strong{
        margin-top:20px; 
        font-size:16px
    }
    .con5 .w930 p span{
        font-size:12px;
        margin-top:20px
    }
	.con5 .w930 .int1 .int_con1:after{
        left:-60px
    }
	.con5 .w930 .int2 .int_con2:after{
        right:-60px
    }
	.con5 .w930 .int3 .int_con3:after{
        left:35%
    }			
    .con5 .w270 img {
        width: 120%;
    }
 /*footer*/    
    body #footer{
        position:static; 
        width:100%; 
        background-color:#118aa4;
        height:20%
    }
    body #footer .foot { 
        width: 45%;
        overflow:hidden;
        padding-top:20px
    }
    body #footer .foot li{
        float:left; 
        width:20%
    }
    body #footer .foot li a:link, body #footer .foot li a:visited{
        text-align:center;
        padding:0;
        background:none
    }
    #footer p, address{
        text-align:left; 
        margin-left:10px;
        display:inline
    }	
    #footer .copy{
        margin-left:22px
    }	
}	
@media all and (min-width: 200px) and (max-width: 600px) {
/*header*/ 	
    body #main h4{
        text-align:center
    }
    body #header{ 
        background-color: #fff; 
        width: 100%; 
        height: 70px;
        position: static; 
    }
    body #header form{ 
        position: absolute;
        right: 0;
        top:70px;
        margin: 0;
        width:100%;
        height:32px;
        z-index:10;
    }
    body #header fieldset{
        height:32px;
    }
    #header input[type=text]{ 
        width:100%; 
        height:40px; 
        border:4px solid #14b8db;
        box-sizing:border-box;
        border-radius:0;
    }
    #btn{
        width:20px; 
        height:20px; 
        position:absolute;
        right:10px;
        top:5px; 
        border:0 none;
        background-image:url("../img/search_btn2.png");
        background-repeat:no-repeat;
        background-size:20px;
        background-color:#fff;
        cursor:pointer;
        text-indent:-9999px;
    }
    body h1 { 
        margin-top: 0;
        padding-top: 15px;
        text-align:center;
        width:100%;
    }
    body h1 .logo1{ 
        display:none
    }
    body h1 .logo2{
        display:block; 
        width:180px; 
        margin:0 auto
    }
    body h1 .logo2 img{ 
        width:100%
    }	
    #header>nav{
        width:100%;
        background-color:#147185;
        margin-top:50px
    }
    #gnb {
        width:60%;
        height:50px;
        margin: auto; 
        display:none;
    }
/*		gnb2*/
	#header .gnb_box2{
        top:7px;
        display:block;
    }
	.gnb_box2 nav{
        width:100%; 
        height:40px; 
    }
	.gnb_m{
        width:200px; 
        height:200px; 
        margin-top:24px
    }
	.gnb_m li{
        width:200px; 
    }
	.gnb_m>li>a:link, .gnb_m>li>a:visited{
        text-align:center;
        line-height:40px;
        background-color:#14b8db;
        color:#fff;
        display:block;
        width:100%;
        height:50px
    }
	.gnb_m>li>a:hover, .gnb>li>a:focus{
        color:crimson; 
        border-bottom:3px solid #fff;
        height:47px 
    }
	.gnb_m>li>.gnb_m_sub>li{
        width: 200px;
        height:40px;
    }
	.gnb_m>li>.gnb_m_sub>li>a:link, .gnb_m>li>ul>li>a:visited{
        display:block;
        width:100%;
        height:38px; 
        border-bottom:3px solid #14b8db;
        text-align:center;
        background-color: #1facc0;
        color:#fff; 
        line-height:38px;
    }
    .m_play{
        position:relative;
        left:10px;
        background-color:#0386a2;
        width:50px; 
        height:50px;
        border-radius:10px; 
        padding-top:6px;
        transition:all 0.5s ease-in 0.2s
    }
    .m_play>a>span{
        display:block; 
        width:40px;
        height:6px;
        background-color:#fff;
        margin:5px auto; 
        transform-origin:right
    }
    .m_play span+ span{
        margin-top:8px
    }
    .play_arrow4{
        position:absolute;
        right:5px;
        top:18px;
        width:0px
    }
    .play_arrow5{
        position:absolute;
        right:5px; 
        top:16px;
        width:0px
    }
/*	gnb2 end*/
    #gnb li {
        width: 14%;
        float: left; 
        height:50px; 
        margin-bottom:0
    }
    #gnb li a:link, #gnb li a:visited{
        color:#fff; 
        height:50px; 
        margin-left:0;
        text-align: center; 
        width:100%; 
        line-height:50px; 
        background-image:none
    }		
    #header .log{    
        display:none
    }
    #header .log li a:link, #header .log li a:visited{
        color:#333
    }
/*layout*/ 
    body #main, #sub{
        width:100%; 
        margin:0
    }
    body .con1{
        width:100%;
        overflow:hidden
    }	
	body .con2{
        width:100%;    
        height: auto;
    }
	body .con3{
        width:100%; 
        height:auto;  
        margin-top:20px;
    }
	body .con3 ul{
        border:0 none
    }
	body .con3 img{
        width:100%
    }	
	body .con4{
        width:100%;
        height:auto
    }
	body .con5{
        width:100%;
        height:auto
    }
	body .con6{
        width:100%; 
        height:auto
    }
	body .visual{
        width:100%;
        height:auto
    }
	body .con .w930{
        width:100%; 
        float:none; 
        height:auto
    }
	body .con .w270{
        width:100%;
        float:none;
        height:auto
    }
	body .visual img{
        width:100%
    }
    
/*visual*/ 
    .visual{
        position:relative
    }
    .v_btn{
        overflow:hidden;
        position:absolute;
        bottom:10px; 
        left:50%; 
        transform:translateX(-50%);
    }
    .sliding_ul{
        width:300%; 
        height:auto
    }
    .sliding_ul li{
        overflow:hidden;
        width:33.3%; 
        height:auto; 
        float:left
    }
    .sliding_ul li img{
        width:100%
    }    
 
/*con1*/    	
    .chart_tab {
        width: 100%;
        height: 390px;
        overflow: hidden;
        margin: auto;
        padding-top: 22px
    }
    body .w930 .review_tab { 
        width: 95%;
        margin: 27px auto;
    }
    .chart_tab>li {
        float:left;
        width:19%; 
        background-color:#fff; 
        height:40px; 
    }
    .review_tab>.review_tab_li1 {
        margin-left:2.5%;
    }
	.con1 .chart_tab .tab_li1{
        margin-left:2.5%
    }  
    .chart_tab>li>a:link, .chart_tab>li>a:visited {
        float:left; 
        width:100%;
        background-color:#fff;
        height:40px;
        line-height:40px;
        text-align:center;
        color:#333;
        font-size: 11px
    }
    .chartbox{
        left:2.5%;
    }
    .con1 .chart-side-button{
    position:absolute;
    top:50%;
    width:100%;
    z-index:10;
    display:block;
}
/*con2*/    
	body .w930 .review{
        width:95%;
        margin:auto; 
        left:2.5%
    }
	body .w930 .review li{
        width:47%;
        height:auto;
    }
	body .w930 .review li+li{
        margin-left:6%;
    }
	body .w930 .review_info, body .w930 .review2 li a .review_info{
        top:50%;
        width:100%
    }
    body .w930 .review2 li a:link .review_info, body .w930 .review2 li a:visited .review_info{
        top:48%;
    }
	body .w930 .review li .review_title, body #main .w930 .review2>li a .review_title {
        top:37%; 
        width:100%; 
        font-size:13px;
    }
	body .con2 .w930 .review li.off{
        display:none
    }
	.review_tab>li {
        float: left;
        border: 1px solid #eee;
        width: 47.3%;
        height: 28px;
        background-color: #fff;
    }
    .w930 .review>li{
        height:auto
    }
    .w930 .review_point{
        font-size:13px;
    }
	body .w930 .review_bg img { 
        width: 100%;
    }
    .w930 .review_col{
        font-size:14px;
    }
	body .con2 h4{
        padding-top: 22px;
    }
	body .con2 .w270 p{
        width:95%;
    }
	body .con2 .w270 h4{
        border-bottom: 1px solid #0386a2;
    }
	body .con2 .w270 p img{
        width:95%;
        margin:auto
    }
	body .con2 .w270 p  a:link,body .con2 .w270 p  a:visited{
        width:100%;
        height:100%;
		display:block
    }
	body .con2 .w270 p  a strong{
        float:left;
        display:block;
        width:25%;
        text-overflow: ellipsis;    
        white-space: nowrap;
        overflow: hidden;
    }
	body .con2 .w270 p  a span{
        float:left
    }
	body .con2 .w270 p  a span.netizen_col{
        float:left;
        padding-left:2%;
        width:30%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
	body .con2 .w270 p  a span.netizen_id{
        float:right
    }
/*con3*/    
    body .con3 a:link, body .con3 a:visited{
        display:block; 
        width:100%;
        height:100%
    }
/*con4*/    
    .con4 .news_title a:link, .con4 .news_title a:visited{
        padding:5px;
        box-sizing:border-box;
        font-size:13px;
        line-height:17px;
    }
	body .con4 .news_title{
        width:100%
    }
	body .con4 .w930{
        overflow:hidden
    }
	body .con4 .w270{
        height:auto; 
        overflow:hidden
    } 
	body .con4 .w270 h4{
        width:95%; 
        margin:auto;
        padding-top:10px; 
        border:0 none
    }		
	body .con4 .w270 div{
        width:95%;
        height:auto;
        margin:auto; 
        overflow:hidden;
        margin-bottom:20px;
        position:static
    }
	body .con4 .w270 .suda_list{
        width:100%; 
        overflow:hidden
    }
	body .con4 .w270 .suda_list li{ 
        width:100%;
        margin-bottom:18px;
    }
	body .con4 .fl .news_img{
        width:150%
    }
	body .con4 .fl .news_img img{
        width:100%
    }	
	body .con4 .w930 .fr li {
        float:left;
        white-space:nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;
        width:36.7%;   padding: 10px 6% 0 7%;
        height: 51px;
        display: block;
        font-size: 12px;
        line-height: 17px;
        padding: 10px 6% 0 7%;
    }
	body .con4 .w930 .fr li.off{
        display:none
    } 	
	body .con4 .w930 .fl{
        float:none;
        position: relative;
        margin-left:2.3%; 
        width: 95%; 
    }   
	body .con4 .w930 .fr li a:link, body .con4 .w930 .fr li a:visited{
        width:87%;   
        padding: 10px 6% 0 7%;
    }		
	body .con4 .w930 .fr li a:after{
        display:none
    }
    /*con5*/
    .con5 .w930 strong{
        font-size:17px
    }
    .con5 .w930 .int_cover {
        overflow: hidden;
    }
    .con5 .w930 .int_cover {
        width: 95.4%;
        margin-left: 2.3%;
    }
    .con5 .w930 .int_cover h4{
        width:100%;
        height:60px;
        font-size:20px; 
        line-height:60px;
        margin-left:0; 
        background-color:#fff; 
        color:#333;
        text-align:left;
    }	
	.con5 .w930 .int_cover .int{
        width:100%; 
        float:none;
        
    }
    .con5 .w930 .int_cover .int p{
        width:50%;
        float:left;
        font-size:11px;
    }
	.con5 .w930 .int_cover .int3 p{
        width:50%;
        float:right
    }
    .con5 .w930 .int_cover .int img{
        height:100%
    }
    .con5 .w270 h4{
        width:100%;
        float:none
    }
	.con5 .w270 p span{
        display:inline-block;
        width:100%;
        text-overflow: ellipsis;
        overflow:hidden;
        white-space:nowrap; 
        display:block
    }	
	.con5 .w270 p { 
        overflow: hidden;
        height: 304px; 
        position: relative;
    }
	.con5 .w270 img {
        width: 100%;
    }
	
    .con5 .w270>a:link .movie_play, .con5 .w270>a:visited .movie_play {
        opacity: 1;
        color: #fff;
        position: absolute;
        left: 40%;
        top: 100px;
        display: block;
        width: 100px;
		font-size: 13px;
    }
	.con5 .w270 img {
        opacity:0.7
    }
	.con5 .w930 .int1 .int_con1:after{
        display:none
    }	
	.con5 .w930 .int2.int_con2:after{
        display:none
    }	
	.con5 .w930 .int3 .int_con3:after{
        display:none
    }
    .con5 .w270 p span{
        display:inline-block;
        width:100%;
        text-overflow: ellipsis;
        overflow:hidden;
        white-space:nowrap; 
        display:block
    }
    /*con6*/
    .con6 article{
        height:auto;
        position:relative
    }
    .con6 h4{
        display:block;
        border-bottom:1px solid #eee
    }
    body .con6 .notice_more{
        position:absolute;
        right:22px; 
        top:0
    }
    body .con6 .notice_title{
        width:100%
    }
    body .con6 .notice_title a{
        width:100%; 
        text-indent:2.5%
    }
    body .con6 h4{
        display:block;
        width:95%;
        margin-left:2.5%
    }
/*footer*/    
	body #footer{
        position:static; 
        width:100%; 
        background-color:#118aa4;
        height:20%
    }
	body #footer .foot {
        width: 45%; 
        overflow:hidden;
        padding-top:20px
    }
	body #footer .foot li a:link, body #footer .foot li a:visited{
        text-align:center;
        padding:0; 
        background:none
    }
    .con4 .w930 .fr {
        float:none; 
        width: 95.4%;
        border-top: 1px solid #eee;
        border-left: 1px solid #eee; 
        margin-left:2.3%
    }
    #footer p, address{
        text-align:left;
        margin-left:10px;
        display:inline
    }	
    #footer .copy{
        margin-left:22px
    }		
    
    body #footer .foot {
        margin-left:22px;
    }
    body #footer .foot  li{       
        float:none;
        width:auto
    }
	body #footer p {
        margin-right:0; 
        margin-left:22px
    }
	address{
        display:block;
        margin-right:0; 
        margin-left:22px
    }
    body #footer .foot li a:link, body #footer .foot li a:visited{
        text-align:left; 
    }
    			
}