@charset "utf-8";

*{margin:0; padding:0}
		body{font-size:}
		li{list-style:none;}
		img{border:0 none}
		body{font-family:'나눔고딕', dotum, sans-serif; font-size:90%; background-color:#fff}
		a:link, a:visited{color:#000; text-decoration:none;line-height:90px; }
		a:hover, a:focus{color:#f00; text-decoration:underline;}